h2 {
    font-weight: 500;
}

.fa-plus,
.fa-minus {
    float: right;
}

.logo {
    background-image: url("logo.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
    margin-right: 10px;
}

.modal-footer>:not(:last-child) {
    margin-right: auto;
}